{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Edit review header-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2>Edit Review</h2>
                <hr>
            </div>
        </div>
        <!--Edit review form-->
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <form method="post" action="{% url 'edit_review' review.id %}">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-main mt-3" aria-label="Submits review">Update</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}