{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    {% if user.is_authenticated %}
    <!-- If User is logged in show review form -->
    <div class="col-lg-4 submit-review col-md-12">
        <h3>Leave a Review:</h3>
        <form method="post" action="{% url 'review' %}" id="review-form">
            {{ review_form | crispy }} {% csrf_token %}
            <button type="submit" class="btn btn-lg submit-button" aria-label="Submits review">Submit</button>
        </form>
    </div>
</section>

{% endblock %}