{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!--Shopping bag heading-->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <!--Display items in shopping bag-->
    <div class="row">
        <div class="col">
            <!--If items in bag_items loop through and display individual items-->
            {% if bag_items %}
            {% for item in bag_items %}
            <div class="row">
                <div class="col-lg-2 col-4 d-flex justify-content-center">
                    <img class="w-100" src="{{ item.product.image_url }}" alt="{{ product.name }}">
                    {{ item.category}}
                </div>
                <div class="col-7 col-sm-4 d-flex justify-content-center">
                    <p><strong>{{ item.product.name }}{{ item.product_name }}</strong></p>
                </div>
                <div class="col-lg-3 col-12 d-flex justify-content-between">
                    <p>Price Each: &euro;{{ item.product.price }}{{item.price}}</p>
                    <p><strong>Subtotal: &euro;{{ item.individual_total }}</strong></p>
                </div>
            </div>
            <!--Quantity selector form (taken from Boutique Ado walkthrough)-->
            <p><strong>Quantity:</strong></p>
            <form class="form" action="{% url 'update_bag' item.product_id %}" method="POST" id="quantity-form">
                {% csrf_token %}
                <div class="col-lg-6 col-12">
                    <div class="form-group w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-main rounded-0 decrement" id="decrement_{{item.product.id}}"
                                    data-product_id="{{ item.product.id }}">
                                    <span class="icon">
                                        <i class="fa-sharp fa-solid fa-less-than"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control quantity" type="number" name="quantity" value="{{item.quantity}}"
                                min="1" max="50" id="quantity_{{item.product.id}}"
                                data-product_id="{{ item.product.id }}">
                            <div class="input-group-append">
                                <button class="btn btn-main rounded-0 increment" id="increment_{{item.product.id}}"
                                    data-product_id="{{ item.product.id }}">
                                    <span class="icon">
                                        <i class="fa-sharp fa-solid fa-greater-than"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Update and remove buttons for quantity in shopping bag-->
                <button class="btn btn-main btn-sm rounded mt-2 mb-5">
                    Update
                </button>
            </form>
            <div class="d-flex justify-content-start remove-pos mb-5">
                <a href="{% url 'remove_from_bag' item.product_id %}">
                    <button class="btn btn-danger btn-sm rounded">
                        Remove
                    </button>
                </a>
            </div>
            {% endfor %}
            <!--Bag totals-->
            <div class="d-flex justify-content-end">
                <div class=" flex-column">
                    <h6><strong>Bag Total: &euro;{{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: &euro;{{ delivery|floatformat:2 }}</h6>
                    <h4><strong>Grand Total: &euro;{{ grand_total|floatformat:2 }}</strong></h4>
                </div>
            </div>
            <!--Keep shopping and Secure checkout buttons-->
            <div class="d-flex justify-content-end">
                <a href="{% url 'products' %}" class="btn btn-secondary rounded">
                    <span class="icon">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-main rounded checkout-pos">
                    <span>Secure Checkout</span>
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                </a>
            </div>
            <!--If bag_items is empty-->
            {% else %}
            <p>Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-main rounded-0 btn-lg">
                <span class="icon">
                    <i class="fa-solid fa-bag-shopping"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}