{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!--Hero image and text and button overlay-->
<section>
    <div id="hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto text-overlay">
                    <div class="d-flex justify-content-center">
                        <h2>
                            Homemade Jewellery
                        </h2>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'products' %}" class="btn text-decoration-none rounded shop-now">Shop
                            Now</a>
                        <!--If show_custom_order_link is true, show custom order-->
                        {% if show_custom_order_link %}
                        <a href="{% url 'custom_order' %}" class="btn text-decoration-none rounded custom-order">Custom
                            Order</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--About us section-->
<section>
    <h2 class="about">About Us:</h2>
    <div class="container">
        <div class="row">
            <div class="col-6 about-box">
                <p>
                    At our homemade jewellery store, each piece tells a story of craftsmanship and creativity. Our store
                    has unique treasures crafted with love and attention to detail. From delicate beaded bracelets to
                    intricately designed phone charms, every item shows the passion of our artist. We take pride in
                    offering handcrafted jewellery that you can customise, ensuring that each customer finds a
                    piece that speaks to their personality and taste. You can browse our collection or design a custom
                    product
                    using our custom order link above. Thank you for browsing and seeing what we have on offer here at
                    Jenas Creations.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}