{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Order thank you message containing email, order number and date-->
<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <h2>Thank You</h2>
      <hr>
      <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
      <p>Your order number is: <strong>{{ order.order_number }}</strong>.</p>
      <p>Date: <strong>{{ order.date }}</strong></p>
    </div>
  </div>

  <!--Details of the order-->
  <div class="row">
    <div class="col-12 col-lg-6">
      <p>Your Order</p>
      <div class="row">
        <div class="col-9">
          <p>Order</p>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <p>Subtotal</p>
        </div>
      </div>
      <!--Display items in order.lineitems-->
      {% for item in order.lineitems.all %}
      <div class="row">
        <div class="col-2">
          <img class="w-100" src="{{ item.product.image_url }}" alt="{{ product.name }}">
          {{ item.custom_order.category }}
        </div>
        <div class="col-7">
          <p><strong>{{ item.product.name }}{{ item.custom_order.product_name }}</strong></p>
          <p>Qty: {{ item.quantity }}</p>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <p>&euro;{{ item.lineitem_total }}</p>
        </div>
      </div>
      {% endfor %}
      <hr>
      <!--Displays grand total-->
      <div class="d-flex justify-content-between">
        <div class="col-7">
          <p>Grand Total:</p>
        </div>
        <div class="col-3 d-flex justify-content-center grand-total-pos">
          <p><strong>&euro;{{ order.grand_total | floatformat:2 }}</strong></p>
        </div>
      </div>
    </div>
    <!--Table displays shoppers delivery information-->
    <div class="col-12 col-lg-6">
      <strong>Delivery info:</strong>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Full Name</th>
            <td>{{ order.full_name }}</td>
          </tr>
          <tr>
            <th>Address 1</th>
            <td>{{ order.street_address1 }}</td>
          </tr>
          {% if order.street_address2 %}
          <tr>
            <th>Address 2</th>
            <td>{{ order.street_address2 }}</td>
          </tr>
          {% endif %}
          <tr>
            <th>Town or City</th>
            <td>{{ order.town_or_city }}</td>
          </tr>
          {% if order.county %}
          <tr>
            <th>County</th>
            <td>{{ order.county }}</td>
          </tr>
          {% endif %}
          <tr>
            <th>Country</th>
            <td>{{ order.country }}</td>
          </tr>
          {% if order.postcode %}
          <tr>
            <th>Postal Code</th>
            <td>{{ order.postcode }}</td>
          </tr>
          {% endif %}
          <tr>
            <th>Phone number</th>
            <td>{{ order.phone_number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}