html {
    height: 100%;
}

body {
    padding-top: 135px;
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-expand-lg {
    justify-content: center;
}

.nav-item.active a.nav-link {
    color: pink;
}

.center-form {
    text-align: center;
    margin-top: 20px;
}

.btn-main {
    background-color: pink;
}

.links {
    color: pink;
}

.card-imaged-sized {
    height: 300px;
}

