html {
    height: 100%;
}

body {
    padding-top: 70px;
}

.navbar-brand {
    margin-left: 15px;
}

.center-form {
    text-align: center;
    margin-top: 20px;
}

.btn-main {
    background-color: pink;
}

.links {
    color: pink;
}

.card-imaged-sized {
    height: 300px;
}

