@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

h2 {
    font-family: "Madimi One", sans-serif;
}

html {
    height: 100%;
}

body {
    padding-top: 120px;
    background-image: linear-gradient(to right, #fff7ad, #ffa9f9);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
}

/* Hero Image */
#hero-image {
    height: 400px;
    width: 100%;
    background: url("https://res.cloudinary.com/dcuhp2osv/image/upload/v1707434443/zuqt4k7nwkvgudlrj8lw.png") no-repeat center center;
    background-size: contain;
}

/* Buttons */

.shop-now,
.custom-order {
    background-color: black;
    color: pink;
}

.custom-order {
    margin-left: 3px;
}

.btn {
    color: pink !important;
}

.btn:hover {
    background-color: #000;
}

.btn-main {
    background-color: #000;
}

.add-to-bag {
    margin-left: 10px;
}

.remove-pos {
    margin-top: -80px;
    margin-left: 260px;
}

/* About section */
.about {
    text-align: center;
    margin-bottom: 15px;
}

.about-box {
    color: pink;
    background-color: black;
    text-align: justify;
    border-radius: 10px;
    align-items: center;
    width: 100%;
}

/* Navbar */

.custom-nav {
    background-image: linear-gradient(to right, #fff7ad, #ffa9f9);
}

.navbar-brand {
    margin-left: 15px;
    background-color: #000;
    color: pink;
    border-radius: 10px;
}

.navbar-brand:hover {
    color: pink
}

.nav-link {
    color: #000;
}

.navbar-expand-lg {
    justify-content: center;
}

.nav-item.active a.nav-link {
    color: #CF4A72;
}

.shopping-bag-pos {
    padding: 0 30px 0 30px;
}

/* Links */

.links {
    color: #CF4A72;
}

/* Card Image */

.card-imaged-sized {
    height: 300px;
}

/* Icons - from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Stripe */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* Spinning overlay */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 192, 203, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Checkout form */

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

.checkout-pos {
    margin-left: 10px;
}

/* profile page */

.order-history {
    height: 600px;
    overflow: scroll;
}

/* reviews */

.reviews {
    margin-top: 10px;
    height: 600px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.stars {
    color: #000;
}

/* Footer */

footer {
    color: #000;
}

.footer-icon {
    color: #000;
}

.footer-links {
    margin-top: 85px;
}

.footer-links>p {
    text-align: center;
    font-size: 120%;
}

.footer-text {
    margin-top: 85px;
}

/* Custom-order */

.custom-order-box {
    color: pink;
    background-color: black;
    text-align: justify;
    border-radius: 10px;
    height: fit-content;
}

/* Forms */

#quantity-form {
    width: 50%;
    margin-top: 5px;
}

.center-form {
    text-align: center;
    margin-top: 20px;
}

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Contact - Admin */

.user-messages-pos {
    margin-top: -120px;
}

/* Mailchimp */

#mc_embed_signup {
    background-image: linear-gradient(to right, #ffc4de, #ffb3ef);
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 310px;
}

/* Images */

.detail-image {
    height: 350px;
}

/* Media Queries */

@media (max-width: 992px) {
    .custom-nav .navbar-nav {
        display: flex;
        flex-direction: row;
        font-size: 90%;
        gap: 1em;

    }

    .footer-text {
        text-align: center;
    }

    .footer-links {
        margin-top: 20px;
    }

    #quantity-form {
        width: 70%;
    }

    .remove-pos {
        display: flex;
        justify-content: start;
        margin-left: 80px;
    }

}

@media (max-width: 600px) {
    .text-overlay h2 {
        font-size: 80%;
    }

    .text-overlay button {
        width: 100px;
        height: 60px;
        font-size: 100%;
    }

    .text-overlay a {
        font-size: 7px;
    }

    #quantity-form {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .remove-pos {
        display: flex;
        justify-content: start;
        margin-left: 80px;
    }
}

@media (max-width: 375px) {
    .message-container {
        width: 70%;
    }
}