{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/23ee961b74.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Jenas Creations {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid custom-nav">
      <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-regular fa-gem"></i> Jenas Creations <i
          class="fa-regular fa-gem"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'products' %}">All Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter By
            </a>
            <ul class="dropdown-menu">
              <a href="{% url 'products' %}?sort=price" class="dropdown-item">Price (low to high)</a>
              <a href="{% url 'products' %}?sort=-price" class="dropdown-item">Price (High to low)</a>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Admin Area</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </ul>
          </li>
        </ul>
        <form method="GET" action="{% url 'products' %}" class="d-flex">
          <button class="btn btn-sm btn-main rounded mr-2" type="submit">Search</button>
          <input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search">
        </form>
        <div class="text-center">
          <a class="nav-link shopping-bag-pos" href="{% url 'view_bag' %}"><i class="fa-solid fa-cart-shopping"></i>
            <p class="my-0">
              {% if grand_total %}
              &euro;{{ grand_total|floatformat:2 }}
              {% else %}
              &euro;0.00
              {% endif %}
            </p>
          </a>
        </div>
      </div>
    </nav>
    {% include 'includes/category-nav.html' %}
  </header>

  <!-- Container for rendering messages -->
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  <main>
    <div class="main-container">
      {% block content %}

      {% endblock %}
    </div>
  </main>

  <footer class="mt-auto py-3">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-4 col-12 footer-text">
          <h5>&copy;JenasCreations 2024</h5>
        </div>
        <div class="col-sm-4 col-12 justify-content-center footer-links">
          <p>
            Follow us: <a target="_blank" href="https://www.facebook.com/"
              aria-label="Navigates to the facebook page"><i class="fab fa-facebook-square footer-icon icon"></i></a>
            <a target="_blank" href="https://www.instagram.com/" aria-label="Navigates to the instagram page"><i
                class="fab fa-instagram-square footer-icon icon"></i></a>
          </p>
          <p>
            <a href="{% url 'contact' %}" class="links" aria-label="Navigates to the contact us page">Contact us</a>
          </p>
        </div>
        <div class="col-sm-4 col-12 mailchimp">
          <div id="mc_embed_shell">
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
              <form
                action="https://outlook.us22.list-manage.com/subscribe/post?u=680aa6b0eeaf2d950280e057d&amp;id=8ea6f68062&amp;f_id=0055c3e1f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank">
                <div id="mc_embed_signup_scroll">
                  <h2>Subscribe</h2>
                  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                  <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                        class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                      id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_680aa6b0eeaf2d950280e057d_8ea6f68062" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                    <div class="clear foot">
                      <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                      <p style="margin: 0px auto;"><a href="http://eepurl.com/iLISro"
                          title="Mailchimp - email marketing made easy and fun"><span
                            style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                              class="refferal_badge"
                              src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                              alt="Intuit Mailchimp"
                              style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  {% block postloadjs %}
  <script src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  {% endblock %}


</body>

</html>