{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2>Product Management</h2>
            <h5 class="text-muted">Add a Product</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-flex justify-content-between mt-3">
                    <a class="btn btn-lg btn-secondary" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-lg btn-main" type="submit">Add Product</button>
                </div>
            </form>
        </div>

        <div class="col-12 col-md-6 user-messages-pos">
            <hr>
            <h2>User messages:</h2>
            <hr>
            <div class="card-body reviews">
                {% for message in contact %}
                <div>
                    <p>
                        <strong>{{ message.full_name }}</strong>
                        <span>
                            {{ message.created_on }}
                        </span>
                        <p>
                            <span>{{message.email}}</span>
                        </p>
                    </p>
                    <p>
                        {{ message.message | linebreaks }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}