{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div>
                <a href="{{ product.image_url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div>
                <h2><strong>{{ product.name }}</strong></h2>
                <p>{{ product.description }}</p>
                <hr>
                <p><strong>&euro;{{ product.price }}</strong></p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <div class="col-12">
                            <p><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-main rounded-0 decrement" id="decrement_{{product.id}}"
                                            data-product_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fa-sharp fa-solid fa-less-than"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control quantity" type="number" name="quantity" value="1" min="1"
                                        max="50" id="quantity_{{product.id}}" data-product_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-main rounded-0 increment" id="increment_{{product.id}}"
                                            data-product_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fa-sharp fa-solid fa-greater-than"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <a href="{% url 'products' %}" class="btn btn-lg btn-secondary rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </span>
                                    <span>Keep Shopping</span>
                                </a>
                                <button class="btn btn-main btn-lg rounded-0 add-to-bag mt-5">
                                    <span>Add to Bag</span>
                                    <span class="icon">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </span>
                                </button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <!-- If User is logged in show review form -->
            {% if user.is_authenticated %}
            <div class="col-12 col-md-6">
                <hr>
                <h2>Leave a Review</h2>
                <hr>
                <div class="col-12 col-lg-6 center-form">
                    <form method="post" action="{% url 'product_detail' product.id %}">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-main mt-3"
                            aria-label="Submits review">Submit</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="col-12 col-lg-6"></div>
            {% endif %}
            <div class="col-lg-6 col-sm-12">
                <hr>
                <h2>Reviews:</h2>
                <hr>
                <div class="card-body reviews">
                    {% for review in reviews %}
                    <div>
                        <p>
                            <strong>{{ review.name }}</strong>
                            <span>
                                {{ review.created_on }}
                            </span>
                            <span>{{review.stars}}<i class="fas fa-star" style="color: #f9e406;"></i></span>
                        </p>
                        {{ review.body | linebreaks }}
                        {% if user.is_authenticated and user.username == review.name %}
                        <small>
                            <a href="{% url 'edit_review' review.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}