{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div>
                    <a href="{{ product.image_url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div>
                    <p><strong>{{ product.name }}</strong></p>
                    <p>{{ product.description }}</p>
                    <hr>
                    <p><strong>&euro;{{ product.price }}</strong></p>
                    <form class="form" action="#" method="POST">
                        {% csrf_token %}
                        <div>
                            <div class="col-12">
                                <p><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-main rounded-0" id="decrement">
                                                <span class="icon">
                                                    <i class="fa-sharp fa-solid fa-less-than"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control" type="number" name="quantity-input" value="1" min="1" max="50" id="quantity">
                                        <div class="input-group-append">
                                            <button class="btn btn-main rounded-0 increment" id="increment">
                                                <span class="icon">
                                                    <i class="fa-sharp fa-solid fa-greater-than"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </section>
{% endblock %}